body {
    background-color: #224;
    color: #aab;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
}

h1 {
    font-size: 50px;
}

.main-game-section {
    display: flex;
    justify-content: space-evenly;
}

.player-container, .enemy-container {
    text-align: center;
}

.outer-board-grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr) 20px;
    grid-template-rows: repeat(10, 1fr) 20px; 
    width: 400px;
    height: 400px;
}

.inner-board-grid-container {
    grid-column: 1 / span 10;
    grid-row: 1 / span 10;
    display: grid;
    grid-template-columns: repeat(10, 10%); 
    grid-template-rows: repeat(10, 10%); 
    /* background-color: #88b; */
    color: #00f;
    font-size: 28px;
}

.grid-y-axis {
    grid-area: 1 / 11 / 11 / 12;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(10, 10%); 
    justify-items: center;
    align-items: center;
}

.grid-x-axis {
    grid-area: 11 / 1 / 12 / 11;
    display: grid;
    grid-template-columns: repeat(10, 10%); 
    grid-template-rows: 1fr; 
    justify-items: center;
    align-items: center;
}

.cell {
    background-color: #88b;
    border: 1px solid #112;
    border-radius: 4px;
    cursor: pointer;
}

.cell:hover {
    background-color: #aab;
}

.middle-message-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 220px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.below-gameboard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
}

.player-ships, .enemy-ships {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 440px;
    font-size: 18px;
    text-align: center;
}

.player-ships > *, .enemy-ships > * {
    padding: 5px;
}

.key {
    flex: 1 0 90%;
    font-weight: bold;
}

.carrier, .battleship {
    flex: 1 0 45%;
}

#restart {
    padding: 10px 20px;
    margin: 0 40px;
    border: 4px solid #aab;
    background-color: #347;
    border-radius: 14px;
    color: #aab;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

