body {
    background-color: #224;
    color: #aab;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
    text-align: center;
    background: radial-gradient(ellipse farthest-side at bottom, rgba(0, 0, 0, 1), rgba(0, 0, 40, 0));
}

h1 {
    font-size: 52px;
    margin: 10px;
    padding-bottom: 10px;
    color: #aab9;
    transform: perspective(100px) rotateX(16deg) scaleX(1.2) translateY(10px);
}

.header-img {
    max-width: 200px;
    max-height: 80px;
    width: auto;
    height: auto;
    padding-bottom: 10px;
    opacity: 0.6;
}

.header-img-1 {
    transform: rotateY(180deg);
    margin-left: 120px;
}

.header-img-2 {
    margin-right: 120px;
}

.main-game-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.player-container, .enemy-container {
    text-align: center;
}

.fleet-title {
    font-size: 22px;
    margin: 16px auto;
}

.outer-board-grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr) 20px;
    grid-template-rows: repeat(10, 1fr) 20px; 
    width: 400px;
    height: 400px;
}

.player-container .outer-board-grid-container {
    grid-template-columns: 20px repeat(10, 1fr);
}

.enemy-container .outer-board-grid-container {
    grid-template-columns: repeat(10, 1fr) 20px;
}

.inner-board-grid-container {
    grid-row: 1 / span 10;
    display: grid;
    grid-template-columns: repeat(10, 10%); 
    grid-template-rows: repeat(10, 10%); 
    color: #00f;
    font-size: 28px;
}

.player-container .inner-board-grid-container {
    grid-column: 2 / span 10;
}

.enemy-container .inner-board-grid-container {
    grid-column: 1 / span 10;
}

.grid-x-axis {
    grid-area: 11 / 1 / 12 / 11;
    display: grid;
    grid-template-columns: repeat(10, 10%); 
    grid-template-rows: 1fr; 
    justify-items: center;
    align-items: center;
}

.player-container .grid-x-axis {
    grid-area: 11 / 2 / 12 / 12;
}

.enemy-container .grid-x-axis {
    grid-area: 11 / 1 / 12 / 11;
}

.grid-y-axis {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(10, 10%); 
    justify-items: center;
    align-items: center;
}

.player-container .grid-y-axis {
    grid-area: 1 / 1 / 11 / 2;
}

.enemy-container .grid-y-axis {
    grid-area: 1 / 11 / 11 / 12;
}

.cell {
    background-color: #88b;
    border: 1px solid #112;
    border-radius: 4px;
    cursor: pointer;
}

.cell:hover {
    background-color: #aab;
}

.middle-message-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 220px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

#message-3 {
    display: none;
}

.below-gameboard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px auto;
}

.player-ships, .enemy-ships {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    border: 5px solid #aab;
    border-radius: 14px;
    padding: 5px;
    margin: 0 10px;
    max-width: 400px;
}

.player-ships > *, .enemy-ships > * {
    padding: 5px;
}

.key {
    flex: 1 0 90%;
}

.carrier {
    flex: 1 0 90%;
}

.battleship, .destroyer, .submarine, .patrol {
    flex-basis: 35%;
}

#restart {
    padding: 10px 20px;
    margin: 0 10px;
    border: 5px solid #aab;
    background-color: #347;
    border-radius: 14px;
    color: #aab;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

